
 <footer>
  <div class="row">
    <div class="social-icons">
      <h4>Contact With Us</h4>
      <div class="align-center">
      <a href="#"><i class="fa fa-facebook-official" ></i></a>
      <a href="#"><i class="fa fa-twitter" ></i> </a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    </div>
    <hr>
    <div class="col">
      <h4>Our Contacts <div class="underline"><span></span></div></h4>
      <p><i class="fa fa-map-marker" style="font-size:18px"></i>  Subhash Chouck</p>
      <p>Near by Solanky Market, Khargone Road </p>
      <p>Sanawad, Pin 451111,India.</p>
      <p class="email-id"><i class="fa fa-envelope"></i>mustansir786@gmail.com</p>
      <h6><i class="fa fa-phone-square"></i>+91-8827669073</h6>
    </div>
    <div class="col">
      <h4>Our Policies <div class="underline"><span></span></div></h4>
      <ul>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Shipping Policy</a></li>
        <li><a href="">Return and Refund Policy</a></li>
        <li><a href=""> Payment Policy</a></li>
        <li><a href="">Terms Of Services</a></li>
        <li><a href="">Track Your Order</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Customer Care <div class="underline"><span></span></div></h4>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href=""> Contact Us </a></li>
        <li><a href=""> FAQ </a></li>
      </ul>
      
    </div>
  </div>
  <hr>
  <p class="copyright">Copyright ©2022 -Rida Collection.All Rights Reserved</p>
  
 </footer>
















































