*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    
    z-index: 99;
    max-width: 1678px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label.logo{
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    top: 2px;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #0c0505;
    font-size: 20px;
    text-transform: initial;
    text-decoration: none;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: Muli,sans-serif;
    letter-spacing: 0;
    display: inline-block;
    white-space: nowrap;
}

a.active, a:hover{
   
    background:transparent;
    color: #242526;
    transition: all 0.3s ease;
    cursor: pointer;
}
.checkbtn{
    font-size: 30px;
    color: #242526;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}
 li .fa-cart-plus{
    font-size: 22px;
 }
 li .bg-danger{
    font-size: 10px;
 }
.badge {
    position: relative;
    top: -1px;
}
.bg-danger {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}























@media (max-width:952px){
    nav{
        background-color:#fff;
        height: 80px;
    }


    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
}
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;

    }  
    section{
        background: url() no-repeat;
        background-size: cover;
        height: calc(100vh -80px);
    }
}


  


        
    

